/*Estilo Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor1: #c4a47c;
    --cor2: #fff;
    --cor3: #000000;
    --cor4: #604829;
    --cor5: #666;
    --cor6: #ACACAC;
    --font-text: "Lato", sans-serif;
    --font-fraunces: "Fraunces", serif;
    --font-osw: "Oswald", sans-serif;
}

.banner , .contato, .img-parallax1, .img-parallax2, .horarios {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*TOPO*/

.topo {
    width: 100%;
    background-color: var(--cor4);
    position: fixed;
    z-index: 1;
}


.topo img {
    width: 100px;
    position: relative;
    left: 15%;
}

.menu {
    position: absolute;
    top: 35%;
    right: 15%;
}

.menu a {
    color: var(--cor1);
    font-family: var(--font-osw);
    margin-right: 20px;
    text-shadow: 3px 5px 2px black;
    font-size: 18px;
    letter-spacing: 2px;
}


/*Banner*/
 
.banner {
    background-image: url('assets/parallax-imagem1.png');
    height: 100vh;
}

.banner h1 {
    font-family: var(--font-fraunces);
    font-weight: 400;
    font-size: 100px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
}

/* Informações */

.informacoes {
    width: 100%;
    max-width: 1024px;
    padding: 80px 0px;
    margin: 0 auto;
}

.informacoes h2 {
    font-family: var(--font-osw);
    color: var(--cor1);
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.informacoes p {
    font-family: var(--font-text);
    color: var(--cor5);
    line-height: 32px;
    text-align: center;
}

/* Imagens Paralax */

.img-parallax1 {
    background-image: url('assets/parallax-imagem2.jpg');
}

.img-parallax2 {
    background-image: url('assets/parallax-imagem3.jpg');
}

.parallax {
    height: 50vh;
}

.parallax h3 {
    background-color: var(--cor4);
    font-family: var(--font-fraunces);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    width: 500px;
    margin: auto;
    position: absolute;
    padding: 10px;
    top: 45%;
    right: 0;
    left: 0;
}

/* Contato */

.contato {
    height: 100vh;
    font-family: var(--font-osw);
    background-image: url('assets/parallax-imagem4.png');
}

 .contato h2 {
    width: 500px;
    padding: 10px;
    position: relative;
    background-color: #604829;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 10%;
    left: 0%;
    right: 0%;
    letter-spacing: 5px;
    text-align: center;
    margin: auto;
 }

 iframe {
    position: absolute;
    top: 23%;
    left: 0%;
    right: 0%;
    margin: auto;
 }

 .box-contato {
    width: 500px;
    background-color: #604829;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    left: 0%;
    right: 0%;
    margin: auto;
 }

 .box-contato p {
    font-family: var(--font-osw);
    text-align: center;
    line-height: 36px;
    text-shadow: 0px 6px 8px black;
    color: #fff;
 }


 /*horario */

 .horarios {
    background-image: url('assets/cafeteria.jpg');
    height: 85vh;
 }

.horarios h2 {
    position: absolute;
    margin:  0 auto;
    top: 20%;
    right: 0%;
    left: 0%;
    font-family: var(--font-osw);
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista-horarios {
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0%;
    left: 0%;
    font-family: var(--font-osw);
    list-style: none;
}

.lista-horarios li {
    position: relative;
}

.lista-horarios li h3 {
    margin-bottom: 20px;
    color: var(--cor2);
}

.lista-horarios li div {
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0%;
    left: 0%;
    background-color: #ACACAC;
}

.lista-horarios li p,
.texto-marrom { /* paragrafo + span*/
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-marrom {
    color: #c4a47c;
}
 
.lista-horarios li p {
    color: #ACACAC;
}

/*Roda pé*/

.rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.rodape span {
    color: #c4a47c;
}

.rodape .btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background-image: url('assets/seta-para-cima.png');
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}

.rodape .social {
    color: var(--cor6);
}